@charset "UTF-8";

@import url("//fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic|Open+Sans:400,300,800");
@keyframes spinner {
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg); } }
.spinner {
  min-width: 24px;
  min-height: 24px; }

.spinner:before {
  content: 'Loading…';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  margin-left: -10px; }

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-top-color: rgba(0, 0, 0, 0.6);
  animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite; }

.hidden {
  display: none !important; }

.notesSource {
  padding: 0;
  margin: 0;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: liga on; }
.notesSource *,
.notesSource *:before,
.notesSource *:after {
  box-sizing: border-box; }

.dante-paste {
  display: none; }

@font-face {
  font-family: "dante";
  src: url("../css/fonts/dante/fontello.eot");
  src: url("../css/fonts/dante/fontello.eot?#iefix") format("embedded-opentype"), url("../css/fonts/dante/fontello.woff") format("woff"), url("../css/fonts/dante/fontello.ttf") format("truetype"), url("../css/fonts/dante/fontello.svgfontello") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "dante-tooltip";
  src: url("../css/fonts/dante/dante.eot");
  src: url("../css/fonts/dante/dante.eot?#iefix") format("embedded-opentype"), url("../css/fonts/dante/dante.woff") format("woff"), url("../css/fonts/dante/dante.ttf") format("truetype"), url("../assets/css/fonts/dante/dante.svgdante") format("svg");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes pop-upwards {
  0% {
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0; }
  20% {
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: .7; }
  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1; }
  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; } }
@keyframes pop-upward {
  0% {
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0; }
  20% {
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: .7; }
  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1; }
  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; } }
.postArticle {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .postArticle .layoutSingleColumn {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  @media (max-width: 800px) {
    .postArticle .layoutSingleColumn {
      width: 100%; } }
  @media (max-width: 680px) {
    .postArticle .layoutSingleColumn {
      width: auto;
      margin-left: 20px;
      margin-right: 20px; } }

.postWrapper,
.postWrapper-inner {
  position: relative;
  *zoom: 1; }
  .postWrapper:before, .postWrapper:after,
  .postWrapper-inner:before,
  .postWrapper-inner:after {
    content: " ";
    display: table; }
  .postWrapper:after,
  .postWrapper-inner:after {
    clear: both; }

.postWrapper {
  overflow: hidden; }
  .is-postEditMode .postWrapper {
    display: none; }
  .is-postEditModeInitialized .postWrapper {
    display: block; }

.postContent {
  font-family: "freight-text-pro", "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.9; }

.postField, .postField:focus {
  outline: 0;
  word-break: break-word;
  word-wrap: break-word; }

.postField--body {
  *zoom: 1;
  margin-bottom: 80px; }
  .postField--body:before, .postField--body:after {
    content: " ";
    display: table; }
  .postField--body:after {
    clear: both; }

.section--last {
  padding-bottom: 5px; }

.section-content {
  *zoom: 1; }
  .section-content:before, .section-content:after {
    content: " ";
    display: table; }
  .section-content:after {
    clear: both; }

.section-inner {
  position: relative; }

.dante-icon:before {
  display: inline-block;
  font-family: "dante";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none; }

.icon-h2:before {
  content: ""; }

.icon-h3:before {
  content: "H1"; }

.icon-h4:before {
  content: "H2"; }

.icon-p:before {
  content: "P"; }

.icon-code:before {
  content: ""; }

.icon-insertorderedlist:before {
  content: ""; }

.icon-insertunorderedlist:before {
  content: ""; }

.icon-inserthorizontalrule:before {
  content: ""; }

.icon-indent:before {
  content: ""; }

.icon-outdent:before {
  content: ""; }

.icon-bold:before {
  content: ""; }

.icon-italic:before {
  content: ""; }

.icon-underline:before {
  content: ""; }

.icon-createlink:before {
  content: ""; }

.icon-blockquote:before {
  content: ""; }

.icon-h2:before,
.icon-h3:before,
.icon-h4:before {
  font-weight: bold; }

.tooltip-icon:before {
  font-family: 'dante-tooltip';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-image-center:before {
  content: "\e900"; }

.icon-image-fill:before {
  content: "\e901"; }

.icon-image-left:before {
  content: "\e902"; }

.icon-image-wide:before {
  content: "\e903"; }

.icon-video:before {
  content: "\e600"; }

.icon-image:before {
  content: "\e601"; }

.icon-plus:before {
  content: "\e602"; }

.icon-embed:before {
  content: "\e603"; }

.dante-menu {
  position: absolute;
  visibility: hidden;
  z-index: 1000;
  -webkit-transition: none;
  transition: none;
  display: none;
  top: 0;
  left: 0;
  display: block;
  white-space: nowrap;
  height: 42px;
  background: #333333;
  color: #FFFFFF;
  border: 0px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px -2px #222; }
  .dante-menu:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    pointer-events: none;
    border: 8px solid transparent;
    margin-left: -4px; }
  .dante-menu:after {
    border-top-color: #333333;
    bottom: -15px; }

.dante-menu--active {
  display: inline-block;
  visibility: visible;
  -webkit-animation: pop-upwards 180ms forwards linear;
  animation: pop-upwards 180ms forwards linear; }

.dante-menu--linkmode .dante-menu-buttons {
  visibility: hidden; }
.dante-menu--linkmode .dante-menu-linkinput {
  display: block; }
.dante-menu--linkmode .dante-menu-input {
  -webkit-animation: pop-upwards 180ms forwards linear;
  animation: pop-upwards 180ms forwards linear; }

.dante-menu-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0; }

.dante-menu-divider {
  width: 1px;
  height: 24px;
  margin: 9px 2px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  overflow: hidden;
  cursor: default;
  line-height: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.dante-menu-button {
  min-width: 20px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.dante-menu-button.active {
  color: #5BD974; }
.dante-menu-button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 18px; }
.dante-menu-button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 18px; }

.dante-menu-button--disabled {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  opacity: .3; }

.dante-menu-linkinput {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
.dante-menu-linkinput .dante-menu-button {
  position: absolute;
  top: 0;
  right: 0; }

.dante-menu-input {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  padding: 13px 40px 13px 10px;
  color: #FFFFFF;
  border: none;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 5px;
  appearance: none;
  text-align: left;
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on; }

.inlineTooltip {
  position: absolute;
  z-index: 900;
  width: 32px;
  height: 32px;
  -webkit-transition: opacity 100ms, width 0 linear 250ms;
  transition: opacity 100ms, width 0 linear 250ms;
  padding: 0;
  font-size: 0;
  opacity: 0;
  pointer-events: none; }
  .inlineTooltip.is-active {
    opacity: 1;
    pointer-events: auto; }
  .inlineTooltip.is-scaled {
    -webkit-transition-delay: 0;
    transition-delay: 0;
    width: auto; }

.inlineTooltip-menu {
  display: inline-block;
  margin-left: 54px; }

.inlineTooltip-button {
  float: left;
  margin-right: 9px;
  display: inline-block;
  position: relative;
  outline: 0;
  padding: 0;
  vertical-align: bottom;
  box-sizing: border-box;
  border-radius: 999em;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  text-rendering: auto;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  width: 32px;
  height: 32px;
  line-height: 32px;
  -webkit-transition: 100ms border-color, 100ms color;
  transition: 100ms border-color, 100ms color;
  background: transparent;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.44);
  color: rgba(0, 0, 0, 0.44); }
.inlineTooltip-button:hover {
  border-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9); }
.inlineTooltip-button.scale {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 100ms, 100ms border-color, 100ms color;
  transition: transform 100ms, 100ms border-color, 100ms color; }
.is-scaled .inlineTooltip-button.scale {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 250ms, 100ms border-color, 100ms color;
  transition: transform 250ms, 100ms border-color, 100ms color; }
.inlineTooltip-button.scale:nth-child(11) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms; }
.inlineTooltip-button.scale:nth-child(10) {
  -webkit-transition-delay: 270ms;
  transition-delay: 270ms; }
.inlineTooltip-button.scale:nth-child(9) {
  -webkit-transition-delay: 240ms;
  transition-delay: 240ms; }
.inlineTooltip-button.scale:nth-child(8) {
  -webkit-transition-delay: 210ms;
  transition-delay: 210ms; }
.inlineTooltip-button.scale:nth-child(7) {
  -webkit-transition-delay: 180ms;
  transition-delay: 180ms; }
.inlineTooltip-button.scale:nth-child(6) {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms; }
.inlineTooltip-button.scale:nth-child(5) {
  -webkit-transition-delay: 120ms;
  transition-delay: 120ms; }
.inlineTooltip-button.scale:nth-child(4) {
  -webkit-transition-delay: 90ms;
  transition-delay: 90ms; }
.inlineTooltip-button.scale:nth-child(3) {
  -webkit-transition-delay: 60ms;
  transition-delay: 60ms; }
.inlineTooltip-button.scale:nth-child(2) {
  -webkit-transition-delay: 30ms;
  transition-delay: 30ms; }
.inlineTooltip-button.control {
  display: block;
  position: absolute;
  margin-right: 22px; }
.inlineTooltip-button.control {
  -webkit-transition: -webkit-transform 100ms, 100ms border-color, 100ms color;
  transition: transform 100ms, 100ms border-color, 100ms color;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }
.is-scaled .inlineTooltip-button.control {
  -webkit-transition: -webkit-transform 250ms, 100ms border-color, 100ms color;
  transition: transform 250ms, 100ms border-color, 100ms color;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9); }

.dante-popover {
  overflow: hidden;
  position: absolute;
  z-index: 900;
  visibility: visible;
  font-size: 12px;
  text-align: center;
  pointer-events: auto;
  padding: 15px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  opacity: 0; }
.dante-popover.is-active {
  opacity: 1; }
.dante-popover .popover-inner {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35); }

.popover.is-active {
  visibility: visible; }

.popover-inner {
  position: relative;
  max-width: 300px;
  border-radius: 5px;
  padding: 8px; }
.popover-inner a {
  color: inherit;
  text-decoration: none; }

.popover--tooltip {
  pointer-events: none; }
.popover--tooltip .popover-inner {
  background: #333333;
  border-radius: 4px;
  color: #fff; }

.popover--Linktooltip {
  pointer-events: auto;
  z-index: 300;
  word-break: break-word;
  word-wrap: break-word; }
.popover--Linktooltip .popover-inner {
  padding: 8px 10px;
  font-size: 12px; }

.popover--Aligntooltip .popover-inner {
  padding: 0;
  background: #333333;
  color: #fff; }

.popover--typeahead .popover-inner {
  position: relative;
  padding: 14px;
  border-radius: 4px; }
.popover--typeahead .popover-inner ul {
  padding-left: 0px; }

.popover.popover--maxWidth360 .popover-inner {
  max-width: 360px; }

.popover:not(.popover--flexible) .popover-inner {
  max-width: 280px; }

/*
.popover.is-withTransition {
  -webkit-transition:opacity 100ms ease;
  transition:opacity 100ms ease;
}

.is-resizing .popover {
  opacity:0;
  -webkit-transition:opacity 0 ease;
  transition:opacity 0 ease;
}
*/
.popover-arrow {
  position: absolute; }

.popover-arrow:after {
  background-color: #333333; }

.popover--top .popover-arrow,
.popover--bottom .popover-arrow {
  left: 50%;
  margin-left: -6px; }

.popover--left .popover-arrow,
.popover--right .popover-arrow {
  top: 50%;
  margin-top: -6px; }

.popover--right .popover-arrow {
  left: 1px; }

.popover--bottom .popover-arrow {
  top: 1px; }

.popover--left .popover-arrow {
  right: 1px; }

.popover-arrow:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px; }

.popover--top .popover-arrow:after {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  -ms-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
  box-shadow: 1px 1px 1px -1px #333333; }

.popover--right .popover-arrow:after {
  -webkit-transform: rotate(45deg) translate(6px, -6px);
  -ms-transform: rotate(45deg) translate(6px, -6px);
  transform: rotate(45deg) translate(6px, -6px);
  box-shadow: -1px 1px 1px -1px #333333; }

.popover--bottom .popover-arrow:after {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
  -ms-transform: rotate(45deg) translate(6px, 6px);
  transform: rotate(45deg) translate(6px, 6px);
  box-shadow: -1px -1px 1px -1px #333333; }

.popover--left .popover-arrow:after {
  -webkit-transform: rotate(45deg) translate(-6px, 6px);
  -ms-transform: rotate(45deg) translate(-6px, 6px);
  transform: rotate(45deg) translate(-6px, 6px);
  box-shadow: 1px -1px 1px -1px #333333; }

.graf--h2,
.graf--h3,
.graf--h4,
.graf--h5,
.graf--h6,
.graf--h7,
.postList,
.graf--figure,
.graf--blockquote,
.graf--pullquote,
.graf--p,
.graf--pre {
  margin: 0; }

.postList {
  margin-bottom: 30px; }

.graf--p,
.graf--blockquote,
.graf--pullquote {
  margin-bottom: 30px; }

.graf--p.spinner {
  position: relative; }

.graf--h2 {
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-bottom: 8px;
  margin-left: -3px;
  margin-top: 40px;
  padding-top: 0; }

.graf--h3 {
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -1.8px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 4px; }

.graf--h4 {
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  margin-left: -1.5px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.44);
  margin-top: 40px;
  margin-bottom: 2px; }

.section--first .graf--h2.graf--first,
.section--first .graf--h3.graf--first,
.section--first .graf--h4.graf--first {
  margin-top: 0;
  padding-top: 0;
  text-align: left; }

.graf--h2 + .graf--h2 {
  margin-top: -8px; }

.graf--h2 + .graf--h3,
.graf--h2 + .graf--h4 {
  margin-top: -6px; }

.graf--h3 + .graf--h2,
.graf--h4 + .graf--h2 {
  margin-top: 2px; }

.graf--h3 + .graf--h4,
.graf--h4 + .graf--h3 {
  margin-top: -2px; }

.graf--h2 + .postList,
.graf--h3 + .postList,
.graf--h4 + .postList {
  margin-top: 10px; }

.graf--h2 + .graf--p.graf--empty,
.graf--h3 + .graf--p.graf--empty,
.graf--h4 + .graf--p.graf--empty {
  margin-bottom: -7px;
  margin-top: -7px; }

.graf--h2 + .graf--p.graf--empty + .graf--h2,
.graf--h3 + .graf--p.graf--empty + .graf--h2,
.graf--h4 + .graf--p.graf--empty + .graf--h2 {
  margin-top: -5px; }

.graf--h2 + .graf--p.graf--empty + .graf--h3,
.graf--h3 + .graf--p.graf--empty + .graf--h3,
.graf--h4 + .graf--p.graf--empty + .graf--h3,
.graf--h2 + .graf--p.graf--empty + .graf--h4,
.graf--h3 + .graf--p.graf--empty + .graf--h4,
.graf--h4 + .graf--p.graf--empty + .graf--h4 {
  margin-top: -8px; }

.graf--blockquote {
  font-family: "freight-text-pro", "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  border-left: 3px solid rgba(0, 0, 0, 0.8);
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.01rem;
  margin-left: -23px;
  padding-bottom: 3px;
  padding-left: 20px; }

.graf--blockquote + .graf--blockquote {
  margin-top: -30px;
  padding-top: 30px; }

.graf--pullquote {
  line-height: 1.4;
  text-align: center;
  font-size: 32px;
  margin: 48px -160px;
  border: none;
  padding: 0;
  font-family: "freight-text-pro", "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  -webkit-transition: margin 100ms;
  transition: margin 100ms; }

.graf--pre {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
  font-family: Menlo, Monaco, Consolas, "Courier New", "Courier", monospace;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px;
  white-space: pre-wrap; }

.graf--pre + .graf--pre {
  margin-top: -20px; }

.graf--figure {
  box-sizing: border-box;
  clear: both;
  margin-bottom: 30px;
  outline: medium none;
  position: relative; }
.graf--figure.is-mediaFocused .graf-image, .graf--figure.is-mediaFocused iframe {
  box-shadow: 0 0 0 3px #57ad68; }

.graf--mixtapeEmbed a {
  text-decoration: none; }

.graf--h4 + .graf--figure,
.graf--h3 + .graf--figure,
.graf--h2 + .graf--figure {
  margin-top: 15px; }

.graf--first {
  margin-top: 0;
  padding-top: 0; }

/*.graf--empty {
  margin-bottom: -7px;
  margin-top: -7px;
}*/
p[data-align="center"],
.graf--h2[data-align="center"],
.graf--h3[data-align="center"],
.graf--h4[data-align="center"],
.graf--blockquote[data-align="center"] {
  text-align: center; }

.markup--anchor,
.graf--sectionCaption {
  cursor: text; }

.markup--anchor {
  text-decoration: underline;
  color: inherit; }

@media (max-width: 500px) {
  .graf--h2 {
    font-size: 36px;
    line-height: 1.1;
    padding-top: 12px;
    margin-bottom: 6px; }

  .graf--h3 {
    font-size: 26px;
    line-height: 1.2;
    margin-top: 18px;
    margin-bottom: 4px; }

  .graf--h4 {
    font-size: 24px;
    line-height: 1.2;
    margin-top: 18px;
    margin-bottom: 2px; } }
.aspectRatioPlaceholder {
  margin: 0 auto;
  position: relative;
  width: 100%; }

.is-postEditMode .graf-image:before, .is-postEditMode
.iframeContainer:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 500; }

.aspectRatioPlaceholder.is-locked .graf-image, .aspectRatioPlaceholder.is-locked
.graf-imageAnchor {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.graf-image,
.graf-imageAnchor,
.iframeContainer > iframe,
.iframeContainer {
  box-sizing: border-box;
  display: block;
  margin: auto;
  max-width: 100%; }

.imageCaption {
  top: 0;
  text-align: center;
  margin-top: 0;
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
  outline: 0;
  z-index: 300;
  margin-top: 10px; }

@media (max-width: 1200px) {
  .imageCaption,
  .postField--outsetCenterImage > .imageCaption {
    position: relative;
    width: 100%;
    text-align: center;
    left: 0;
    margin-top: 10px; } }
figure.graf--layoutOutsetLeft .imageCaption,
figure.graf--layoutOutsetLeft .postField--outsetCenterImage > .imageCaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px; }

figure.is-defaultValue .imageCaption,
.graf--sectionCaption.is-defaultValue {
  display: none; }

.graf--figure.is-mediaFocused .imageCaption,
.graf--figure.is-defaultValue.is-selected .imageCaption,
section.is-mediaFocused .graf--sectionCaption,
.graf--sectionCaption.is-defaultValue.is-selected {
  display: block; }

.editable .markup--anchor,
.editable .graf--sectionCaption {
  cursor: text; }

/*
.markup--anchor {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
    //background-position: 0 24px;
    background-position: 0 19px;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    //border-bottom: 1px solid rgba(0,0,0,.4);
}

h4 .markup--anchor {
    background-position: 0 34px;
}
*/
.is-postEditMode iframe {
  border: 3px solid rgba(255, 255, 255, 0); }

.graf--mixtapeEmbed {
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  margin-top: 40px;
  max-height: 310px;
  max-width: 700px;
  overflow: hidden;
  padding: 30px;
  position: relative; }

.mixtapeImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
  height: 310px;
  margin: -30px -30px 0 25px;
  width: 310px; }

.mixtapeImage--empty {
  height: 0;
  width: 0; }

.graf--mixtapeEmbed {
  color: rgba(0, 0, 0, 0.6);
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.02em; }

.markup--mixtapeEmbed-strong {
  color: #000;
  display: block;
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-bottom: 0px; }

.markup--mixtapeEmbed-em {
  display: block;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 10px;
  max-height: 120px;
  overflow: hidden; }

/*CAPTION*/
.editor a a {
  color: inherit;
  text-decoration: none; }

.defaultValue {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

section:first-child > .section-divider,
section.is-backgrounded + section > .section-divider {
  display: none; }

.defaultValue--prompt {
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em; }

a[rel=token], .markup--query {
  color: #00ab6b;
  text-decoration: none;
  background-image: none !important; }

.typeahead--mention {
  padding-top: 10px; }

.typeahead .popover-inner {
  padding: 0;
  overflow: hidden;
  min-width: 100px; }

.typeahead .typeahead-item:first-child {
  padding-top: 7px; }

.typeahead--mention .typeahead-item {
  padding: 6px 15px;
  font-size: 13px; }

.typeahead-item.is-active, .typeahead-item:hover {
  background: #02b875;
  color: #fff; }

.typeahead .typeahead-item {
  cursor: pointer;
  padding: 5px 10px;
  line-height: 2;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.typeahead .dante-avatar {
  margin: 0 6px 0 -2px; }

.avatar-image--icon {
  width: 32px;
  height: 32px; }

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%; }

.typeahead-item .avatar-image {
  width: 32px;
  height: 32px; }

.typeahead--mention .popover-arrow {
  display: none; }

.markup--user {
  color: #00ab6b;
  text-decoration: none; }

.popover--card .popover-arrow {
  top: -14px; }
.popover--card .popover--bottom .popover-arrow:after {
  transform: rotate(45deg) translate(6px, 6px);
  box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.44); }
.popover--card .popover-arrow:after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: #fff; }

.popover--animated.is-active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s,opacity .2s 0s; }

.popover.is-active {
  visibility: visible; }

.popover--animated {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .2s,opacity .2s 0s; }

.popoverCard {
  text-align: left; }

.popoverCard-meta {
  width: 192px; }

.u-floatLeft {
  float: left !important; }

.u-floatRight {
  float: right !important; }

.popoverCard-title {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 0px; }

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

.popoverCard-description {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.44); }

.u-clearfix:after {
  clear: both; }

.u-clearfix:after, .u-clearfix:before {
  display: table;
  content: " "; }

.dante-avatar {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal; }

.avatar-image--small {
  width: 60px;
  height: 60px; }

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%; }

.popoverCard-actions {
  border-top: solid 1px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  padding-top: 10px; }

.popoverCard-stats {
  font-size: 14px;
  line-height: 36px; }

.popoverCard-stat {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.44); }

.popoverCard-count {
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.6); }

.graf--layoutOutsetLeft {
  margin-left: -160px; }

.graf--layoutOutsetLeft {
  width: 75%; }

.graf--layoutInsetLeft, .graf--layoutOutsetLeft {
  float: left;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px; }
