
.menu-toggler.sidebar-toggler{
    float: right; 
    margin-top: 18px;
}
.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  margin-bottom: 30px;
}
.card .image {
  width: 100%;
  overflow: hidden;
  height: 260px;
  border-radius: 4px 4px 0 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card .image img {
  width: 100%;
}
.card .filter {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.68);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
}
.card .filter .btn {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.card:hover .filter {
  opacity: 1;
  filter: alpha(opacity=100);
}
.card .btn-hover {
  opacity: 0;
  filter: alpha(opacity=0);
}
.card:hover .btn-hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.card .content {
  padding: 15px 15px 10px 15px;
}
.card .header {
  padding: 15px 15px 0;
}
.card .category,
.card label {
  font-size: 14px;
  font-weight: 400;
  color: #9A9A9A;
  margin-bottom: 0px;
}
.card .category i,
.card label i {
  font-size: 16px;
}
.card label {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 900;
}
.card .title {
  margin: 0;
  color: #333333;
  font-weight: 300;
}
.card .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.card .description {
  font-size: 14px;
  color: #333;
}
.card .footer {
  padding: 0;
  background-color: transparent;
  line-height: 30px;
}
.card .footer .legend {
  padding: 5px 0;
}
.card .footer hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card .stats {
  color: #a9a9a9;
}
.card .footer div {
  display: inline-block;
}
.card .author {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .author i {
  font-size: 14px;
}
.card h6 {
  font-size: 12px;
  margin: 0;
}
.card.card-separator:after {
  height: 100%;
  right: -15px;
  top: 0;
  width: 1px;
  background-color: #DDDDDD;
  content: "";
  position: absolute;
}
.card .ct-chart {
  margin: 30px 0 30px;
  height: 245px;
}
.card .table tbody td:first-child,
.card .table thead th:first-child {
  padding-left: 15px;
}
.card .table tbody td:last-child,
.card .table thead th:last-child {
  padding-right: 15px;
}
.card .alert {
  border-radius: 4px;
  position: relative;
}
.card .alert.alert-with-icon {
  padding-left: 65px;
}

.card-user .image {
  height: 110px;
}
.card-user .image-plain {
  height: 0;
  margin-top: 110px;
}
.card-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -70px;
}
.card-user .avatar {
  width: 124px;
  height: 124px;
  border: 5px solid #FFFFFF;
  position: relative;
  margin-bottom: 15px;
}
.card-user .avatar.border-gray {
  border-color: #EEEEEE;
}
.card-user .title {
  line-height: 24px;
}
.card-user .content {
  min-height: 240px;
}

.card-user .footer,
.card-price .footer {
  padding: 5px 15px 10px;
}
.card-user hr,
.card-price hr {
  margin: 5px 15px;
}

.card-plain {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
.card-plain .image {
  border-radius: 4px;
}

/*card*/

a{
    transition: color 0.2s linear 0s,background-color 0.2s linear 0s !important;
    outline: 0;
}

a:active,
a:hover{
    outline: 0;
}

.btn-custom {
    color: #007498;
    background-color: transparent;
    border-color: #007498;
    outline: 0;
    transition: all ease-in-out 1s;
}

.btn-custom:hover,
.btn-custom:active{
  color: #FFFFFF;
  background: #007498;
}

.logo img{
  width: 100%; 
  height: auto;
    /*50% before*/
}

.sidebar .nav li:first-child.dropdown
{
  list-style-type: none; 
  padding-top: 20px; 
  padding-bottom: 20px;
  padding-left: 30px;
}

.sidebar .nav li:first-child.dropdown p
{
  margin: 0px;
  text-transform: none;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600px;
}

.sidebar .nav li:first-child.dropdown p:nth-child(2)
{
  opacity: 0.6;
}


.sidebar .nav li:first-child.dropdown > a:nth-child(3)
{
  position: absolute; 
  right: 20px; 
  color: #fff; 
  font-weight:bold; 
  top: 25px;
  background: none;
  outline: none;
  font-size: 30px;
  padding: 0px;
}

.sidebar .nav li:first-child.dropdown .dropdown-menu
{
  top: 80%; 
  left: 35%;
}

.sidebar .nav li:first-child.dropdown .dropdown-menu a{
  color: #000;
}

.sidebar .nav li:first-child.dropdown .dropdown-menu a:hover{
  background: #f5f5f5;
}

#search-nav{
  padding-top: 7.5px; 
  padding-bottom: 7.5px;
}

#search-link{
  line-height: 34px;
  font-size: 13px; 
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none; 
  cursor: pointer;
}

#search-area{
  height: 34px;
  width: 200px;
  float: left;
  border: none;
  border-radius: 20px;
  padding-left: 30px; 
  transition: 0.25s all ease;
  transition: all ease 1s;
}

.active-header{
  position: relative; 
  padding: 15px 30px;
  background-color: #fff;
  height: 70px; 
  clear: both; 
  border-bottom: solid 1px #d4d8d9;
}

.active-header .heading{
  line-height: 40px; 
  font-size: 24px; 
  padding: 0 !important; 
  display: block;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-weight: 600; 
  color: #57584E;
}

.all-icons [class*="pe-"]{
  font-size: 40px;
}
.all-icons input{
  border: 0;
}
.all-icons .font-icon-detail{
  text-align: center;
  padding: 45px 0px 30px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  margin: 15px 0;
}
.all-icons .font-icon-detail input{
  margin: 25px auto 0;
  width: 100%;
  text-align: center;
  display: block;
  color: #aaa;
  font-size: 13px;
}

#map{
  position:relative;
  width:100%;
  height: calc(100% - 60px);
}

.places-buttons .btn{
  margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.sidebar .nav > li.active-pro a{
  background: rgba(255, 255, 255, 0.14);
  opacity: 1;
  color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
  text-align: center;
}

#circli{
  margin: 0 auto;
}

.h-300 {
  height: 300px !important;
  overflow: hidden !important;
}

.graph-info {
  width: 100%;
  margin-bottom: 10px;
}
.p-r-10 {
  padding-right: 10px !important;
}

#tooltip, .graph-info a {
  font-size: 12px;
  line-height: 20px;
  color: #646464;
}

#flot-tooltip{
  z-index: 1000;
}

#tooltip, .graph-info a {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.bg-green {
  background-color: #18a689 !important;
  color: #fff !important;  
}

.bg-light-green {
  background-color: #32C5D2 !important;
  color: #fff !important;  
}
.bg-blue {
  background-color: #0090d9 !important;
  color: #fff !important;
}

.bg-light-blue {
  background-color: #3598DC !important;
  color: #fff !important;
}


.bg-yellow{
  background-color: #59058D !important;
  color: #fff !important;
}

.bg-red{
  background-color: #E7505A !important;
  color: #fff !important;
}

#lines, #bars {
  width: 34px;
  height: 32px;
  padding: 0;
  margin-right: 0;
  margin-left: 10px;
  float: right;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  border-radius: 4px;
  transition: border .25s linear,color .25s linear,background-color .25s linear;
  border: 1px solid transparent;
  background: #f0f0f0;
}

#lines.active, #bars.active {
  background: #00a2d9;
  color: #fff;
}

#flot-container{
  height: 100%;
}

/*making toggle button */

input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

input#toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}

input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle:checked + label:before {
  width: 50px;
  background: #61A9DC;
}

input#toggle:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px #61A9DC, 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* toggle button ends here */

/* styling Campaign arena*/
.top-menu {
  border-bottom: 2px solid #007498;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: right;
}

.events-filter {
  background: rgba(0, 149, 218, 0.1);;
  padding: 20px 10px 10px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.table-responsive thead {
  background: #2b2e33;
  color: #eaeaea;
}

.table > thead > tr > th {
  padding: 16px 8px;
  font-size: 16px;
}

.table th {
  text-transform: none;
  font-weight: normal;
}

.events-filter #reportrange {
  color: #007498;
}

.events-filter .form-control {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 8px 12px;
  font-size: 13px;
  color: #007498;
  background-color: #FFF !important;
  border: 1px solid #fff;
  border-radius: 2px;
  -moz-transition: all 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: all 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.events-filter .form-control:focus{
  border-color: #fff;
  color: #007498;
}
.m-b-10 {
  margin-bottom: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

table {
  margin-top: 20px;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}

.table-responsive thead {
  background: #007498;
  color: #fff;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px 8px;
  vertical-align: middle;
}
.table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 12px;
  font-weight: 900;
  padding-bottom: 5px;
}
.table .td-actions .btn {
  opacity: 0.36;
  filter: alpha(opacity=36);
}
.table .td-actions .btn.btn-xs {
  padding-left: 3px;
  padding-right: 3px;
}
.table .td-actions {
  min-width: 90px;
}
.table > tbody > tr {
  position: relative;
}
.table > tbody > tr:hover .td-actions .btn {
  opacity: 1;
  filter: alpha(opacity=100);
}
.table > tbody > tr > td {
  padding: 16px 8px;
}
.table > tbody > tr > td {
  vertical-align: middle;
}

.table > thead > tr > th {
  padding: 16px 8px;
  font-size: 16px;
}
.table th {
  text-transform: none;
  font-weight: normal;
}

.table a {
  margin-bottom: auto;
}

.table .label-default,
.table .label-success
{
  background: rgba(0, 116, 152, 0.8);
}

.event-date {
  margin: auto;
  background-color: #e0e0e0;
  border-bottom: 10px solid #FFF;
  width: 55px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.event-month {
  font-size: 12px;
  padding-top: 2px;
}

.event-day {
  font-size: 25px;
  color: #414141;
  line-height: 24px;
}

.event-day-txt {
  font-size: 12px;
  font-weight: bold;
  color: #8d8a8a;
  padding-bottom: 3px;
}
.btn-rounded .fa{
  margin-top: 7px;
}

.c-red {
  color: #007498 !important;
}
.img-responsive {
  width: 150px;
}

.align-right {
  text-align: right;
}

.pagination li:first-child {
  margin-left: 0;
}
.pagination li {
  margin-left: 5px;
  display: inline-block;
  float: left;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  min-width: 0;
}

.btn-group.select > .btn{
  width: 100%;
}

.no-data {
  width: 500px;
  max-width: 90%;
  margin: 180px auto;
}

.m-b-md {
  margin-bottom: 20px;
}

.sprite.sprite-list {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.sprite {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.m-t-none {
  margin-top: 0 !important;
}


/*cover container */
.picture-container {
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0px;
}

.picture {
  width: 100%;
  height: 393px;
  background: rgba(0,0,0,0.03);
  border: 1px solid rgba(0,0,0,0.03);
  color: #FFFFFF;
  margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.picture-src {
  width: 100%;
  height: 100%;
}

.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.m-b-40 {
  margin-bottom: 40px !important;
  margin-top: 20px;
  text-align: center;
}

.postArticle{
  height: 80%;
}

.story-container{
  margin-top: 30px;
}

.story-container .card{
  padding: 20px; 
  min-height: 364px;
}

.story-container .card h4{
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 25px; 
  background: rgba(223, 229, 233, 0.35) none repeat scroll 0% 0%;
  /*color: rgb(243, 17, 65);*/
  font-weight: bolder; 
  margin-bottom: 20px; 
  margin-top: 0px;
}

.cloneContainer .clone{
  border-bottom: 1px dashed #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s ease all;
}

.cloneContainer .clone:first-child{
  padding-top: 10px;
}

.cloneContainer .clone:last-child{
  border-bottom: none;
}

.cloneContainer .clone > .col-md-2{
  padding: 0px; 
  text-align: center; 
  margin-bottom: 10px;
}

.cloneContainer .clone > .col-md-10{
  padding-right: 0px;
}

.cloneContainer form{
  margin-bottom: 10px;
}

.cloneContainer textarea{
  border: 1px solid #ddd; 
  border-radius: 10px;
  resize: none;
  height: 50px;
}

.cloneContainer input[type='text']{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cloneButton
{
  float: right;
  background: transparent;
  color: #ddd;
  padding: 0px;
}

.clone .remove{
  position: absolute; 
  right: 20px; 
  margin-top: 10px;
  color: #ddd;
  background: transparent;
  opacity: 0.8;
}

.cloneContainer .clone:first-child .btn.remove{
  top: 155px;
}



/* styling Campaign arena */

@media (min-width: 992px){
  .typo-line{
      padding-left: 140px;
      margin-bottom: 40px;
      position: relative;
  }

  .typo-line .category{
      transform: translateY(-50%);
      top: 50%;
      left: 0px;
      position: absolute;
  }
}

@media (max-width: 991px){

  body > .navbar-collapse .logo{
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-collapse .navbar-nav > li:first-child{
      color: #fff;
      padding-left: 25px;
      /*padding-top: 40px;*/
  }

  .navbar > .container-fluid .navbar-brand {
      margin-left: 0px;
  }

  .navbar-collapse .navbar-nav li:first-child > a:nth-child(3){
      position: absolute;
      top: 50px;
      right: 5px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 0px;
      padding-left: 0px;
  }

  .navbar-collapse [class^="pe-7s-"]{
      font-size: 40px;
  }

  .navbar-nav .open .dropdown-menu > li > a,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a
  {
      padding-left: 30px;
  }

  .main-panel > .content,
  .story-container .card
  {
      padding-left: 5px;
      padding-right: 5px;
  }

  .container-fluid,
  #cloneContainer .clone > .col-md-10
  {
      padding-left: 0px;
      padding-right: 0px;
  }

  #search-area{
      padding-left: 50px;
  }
}


.social-icons{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 150px;
  z-index: 1000;
}

.social-icons ul.activity{
  width: 100%;
  margin-right: 20px;
  text-align: right;
  margin-right: 5px;
  list-style-type: none;
}

.social-icons ul.activity li a{
  display: block;
  outline: 0;
}

.social-icons ul.activity li{
  width: 100%;
  margin-bottom: 5px;
}

.activity p.inline{
  display: inline;
  font-size: 10px;
  padding: 5px;
  color: #222;
  background: #ddd;
  border-radius: 30%;
}
.activity .fa {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #1da1f2;
  font-size: 12px;
  border: 1px solid #1da1f2; 
 /* color: rgba(255, 255, 255, 0.8);*/
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.activity .fa:hover,
.activity .fa:active
{
  background: #1da1f2;
  color: #fff;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.activity:nth-child(2) .fa{
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.fa.fa-facebook{
  color: #3B5998;
  border-color: #3B5998; 
}

.fa.fa-facebook:hover{
  background: #3B5998;
}


.fa.fa-product-hunt{
  color: #DD4B39;
  border-color: #DD4B39; 
}

.fa.fa-product-hunt:hover{
  background: #DD4B39;
}

.xs-li li{
  display: inline-block;
}
.fa.fa-envelope{
  color: #999999;
  border-color: #999999; 
}

.fa.fa-envelope:hover{
  background: #999999;
}

.fa.fa-plus.animated{
  color: #A6A6A6;
  border-color: #A6A6A6;
  transition: all 0.5s; 
  animation-timing-function:ease-in-out;
  animation-direction: alternate; 
  animation-duration: 2.5s;
}

.fa.fa-plus.animated:hover{
  background: #A6A6A6;
  color: #fff;
}

#showIcons:hover > .fa.infinite{
  animation: none;
}

/* styling of panels */
.dashboard-stat2 {
  background: #fff;
  padding: 15px;
  margin-bottom: 30px;
}

.dashboard-stat2 h4{
  font-size: 14px;
  font-weight: 700;
  color: #8e9daa; 
  margin: 0 0 20px;
}

.dashboard-stat2 .widget-thumb-wrap,
.dashboard-stat2 .widget-thumb-body
{
  overflow: hidden; 
  border-radius: 0px;
}

.widget-thumb-wrap i{
  float: left;
  width: 60px;
  height: 60px;
  display: inline-block;
  font-size: 20px;
  line-height: 41px;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-right: 15px; 
}

.widget-thumb-subtitle{
  padding-top: 2px;
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #8e9daa;
  border-radius: 0px;
}

.widget-thumb-body-stat{
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: #3e4f5e;
}

#rewards_container .thumbnail > img{
  max-height: 146px;
}

.card > a{
  display: block;
  position: relative;
}
.card > a > .textbox {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:5px;
  background-color: rgba(0,0,0,0.75);
  padding: 10px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  color: #FFFFFF;
}

.card > a:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.textbox .textContent{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.textbox .text {
  padding-top: 10px;
  text-align: center;
  font-weight: 900;
}
.textbox h3{
  color: #fff;
  font-size: 100px;
  font-weight: 900;
  margin: 0px;
  text-align: center;
}

.modal-header{
  border-bottom: none;
  text-align: center;
  color: #007498;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 30px;
}
.modal-dialog{
  width: 60%;
}

.modal-body{
  height: 500px;
  overflow: scroll;
}
/*.modal {
  text-align: center;
  padding: 0!important;
}


.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}*/

#memes .events-filter:nth-child(2){
  text-align: center;
}

.meme{
  border: 1px dashed #000; 
  position: relative; 
  height:300px; 
  width: 400px; 
  margin: 0 auto;
}

.meme#imageContainer{
  height:500px; 
  width: 100%;
}

.meme textarea{
  position: absolute; 
  font-size: 12px; 
  border: none; 
  overflow: visible; 
  resize: none; 
  background: transparent; 
  font-weight: 100; 
  font-style: normal;
  width: 100%; text-align: center;
  z-index: 1000; 
  height: auto;
  text-decoration: none; 
  padding: 10px 30px;
}

#transactionsList > :nth-child(n + 3){
  display: none;
}